.dark {
  --vp-c-bg: var(--vp-c-black);
  --vp-c-bg-alt: var(--vp-c-black-2);
  --vp-c-bg-elv: var(--vp-c-gray-3);
  --vp-c-bg-soft: var(--vp-c-gray-2);
}

body {
  font-size: 18px;
}

aside.VPSidebar,
.vp-doc pre {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-bg-soft) transparent;
  scrollbar-gutter: stable;
}

.VPHome .vp-doc.container .language-sh {
  margin: 3em auto;
  width: 625px;
  font-size: 130%;
}

.VPDoc.has-aside .content .content-container {
  max-width: 740px;
}

.vp-doc .custom-block {
  margin: 3em 0;
}

.vp-doc p > em.small {
  font-size: 85%;
}
