body {
  font-size: 18px;
}

.vp-doc table {
  width: 100%;
  display: table;
}

aside.VPSidebar,
.vp-doc pre {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-bg-soft) transparent;
  scrollbar-gutter: stable;
}

.VPDoc.has-aside .content .content-container {
  max-width: 740px;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  clear: both;
}

.vp-doc p {
  line-height: 30px;
  text-align: justify;
}

.vp-doc .custom-block {
  margin: 3em;
}

.vp-doc em.small {
  font-size: 85%;
}

.vp-doc p img {
  margin: 0 auto;
}

.vp-doc img.doc-image {
  float: right;
  margin: 0.75em 1.5em;
}

.vp-doc img.doc-image-inline {
  float: none;
  display: inline-block;
  margin: 0;
  height: 24px;
}

.vp-doc img.doc-image-shadow {
  border-radius: 1em;
  box-shadow: 0 4px 6px 0 var(--vp-c-bg-alt),
    0 1px 3px -1px var(--vp-c-bg-soft);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.shiki span[style="color:#737994;font-style:italic;"] {
  font-family: 'Victor Mono';
  font-size: 80%;
}
