body {
  font-size: 18px;
}

aside.VPSidebar,
.vp-doc pre {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-bg-soft) transparent;
  scrollbar-gutter: stable;
}

.VPDoc.has-aside .content .content-container {
  max-width: 740px;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4,
.vp-doc h5,
.vp-doc h6 {
  clear: both;
}

.vp-doc p {
  line-height: 30px;
  text-align: justify;
}

.vp-doc p img {
  margin: 0 auto;
}

.vp-doc .custom-block {
  margin: 3em;
}

.vp-doc em.small {
  font-size: 85%;
}

.vp-doc p.doc-image {
  float: right;
  margin: 0.75em 1.5em;
}

.shiki span[style="color:#737994;font-style:italic;"] {
  font-family: 'Victor Mono';
  font-size: 80%;
}
