.dark {
  --vp-c-bg: var(--vp-c-black);
  --vp-c-bg-alt: var(--vp-c-black-2);
  --vp-c-bg-elv: var(--vp-c-gray-3);
  --vp-c-bg-soft: var(--vp-c-gray-2);
}

body {
  font-size: 18px;
}

aside.VPSidebar,
.vp-doc pre {
  scrollbar-width: thin;
  scrollbar-color: var(--vp-c-bg-soft) transparent;
  scrollbar-gutter: stable;
}

.VPDoc.has-aside .content .content-container {
  max-width: 740px;
}

.vp-doc .custom-block {
  margin: 3em;
}

.vp-doc em.small {
  font-size: 85%;
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.shiki span[style="color:#737994;font-style:italic;"] {
  font-family: 'Victor Mono';
  font-size: 80%;
}
