:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-text-1: #c6d0f5;
  --vp-c-text-2: #a5adce;
  --vp-c-text-3: #b5bfe2;

  --vp-c-black: #232634;
  --vp-c-black-2: #292c3c;

  --vp-c-gray-1: #51576d;
  --vp-c-gray-2: #414559;
  --vp-c-gray-3: #303446;

  --vp-c-brand-1: var(--ws-teal);
  --vp-c-brand-2: var(--ws-sky);
  --vp-c-brand-3: var(--ws-sky);
  --vp-c-brand-soft: #81c8be33;

  --vp-font-family-base: "Chinese Quotes", "Fira Sans", ui-sans-serif,
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --vp-font-family-mono: 'Fira Code', ui-monospace, Menlo,
    Consolas, 'Courier New', monospace;

  --vp-code-line-height: 1.8;
  --vp-code-font-size: 0.9em;

  --vp-sidebar-width: 240px;

  --ws-yellow: #e5c890;
  --ws-teal: #81c8be;
  --ws-sky: #99d1db;
  --ws-sapphire: #85c1dc;
  --ws-lavender: #babbf1;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-bg: var(--vp-c-brand-1);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-black-2);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-black-2);
  --vp-button-brand-active-bg: var(--vp-c-brand-2);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      var(--ws-lavender) 10%,
      var(--ws-teal));

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      var(--ws-lavender) 20%,
      var(--ws-teal));
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}
