:root {
  --vp-font-family-base: "Chinese Quotes", "Fira Sans", ui-sans-serif,
    system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --vp-font-family-mono: 'Fira Code', ui-monospace, Menlo,
    Consolas, 'Courier New', monospace;

  --vp-code-line-height: 1.8;
  --vp-code-font-size: 0.9em;

  --vp-sidebar-width: 240px;
}
